html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow:auto;
}

.text_title {
    font-size: 33px;
    color: #102746;
}

.text_descript {
    font-size: 16px;
    color: crimson;
}

.text_arrow {
    color: #006DFE;
    font-size: 16px; 
    line-height: 24px;
    /* font-style: normal;
    font-weight: normal; */
    font-weight: 600;    
}

.arrow{
    height: 8px;
    width: 33px;
    margin-left: 25px;
    margin-bottom: 1px; 
}


/* ==================================================================================================== */

/* ================================ PREFECTURE FLEX start ============== */

.prefecture__1 {
    display: flex; 
}

.prefecture__1__header, .prefecture__descript, .prefecture__1__arrow {
    margin: 110px 0 0 80px;
    padding-right: 10px;
    text-align: left;
    border: none;   
    background: none;
    min-width: 250px;  
    max-width: 500px;  
} 

.prefecture__1__img {
    width: 800px;
    height: 603px;
    clip-path: polygon(5% 5%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}

.prefecture__1__img:hover {
    clip-path: none;
}

/* ================================ PREFECTURE FLEX end ================ */








.asidebenefits__descript { 
    width: 150px;
}






