html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow:auto;
}

.text_title {
    font-size: 33px;
    color: #102746;
}

.text_descript {
    font-size: 16px;
    color: crimson;
}

.text_arrow {
    color: #006DFE;
    font-size: 16px; 
    line-height: 24px;
    /* font-style: normal;
    font-weight: normal; */
    font-weight: 600;    
}

.arrow{
    height: 8px;
    width: 33px;
    margin-left: 25px;
    margin-bottom: 1px; 
}


/* ==================================================================================================== */
/* ================================ PREFECTURE FLEX_1 start ============== */
.prefecture{
    width: 1271px;
    height: 785px;
}
/*=====================*/
.prefecture__1 {
    display: flex; 
}

.prefecture__1__header, .prefecture__1__descript, .prefecture__1__arrow {
    margin: 55px 0 0 108px;
    padding-right: 2px;
    text-align: left;
    border: none;   
    background: none;
    min-width: 250px;  
    max-width: 500px;  
} 

.prefecture__1__img {
    width: 597px;
    height: 354px;
    transition: 0.4s cubic-bezier(1, -1, 0, 2);     /* треугольник */
    clip-path: polygon(50% 5%, 0% 100%, 100% 100%); /* треугольник */
}

.prefecture__1__img:hover { 
    clip-path: none; 
}

/* ================================ PREFECTURE FLEX_1 end ================ */
/* ================================ PREFECTURE FLEX_2 start ============== */
.prefecture__2 {
    margin-top: 55px;
    display: flex; 
}

.prefecture__2__flex2{
    margin-left: -50px;
    margin-right: 97px;
}

.prefecture__2__img {
    width: 597px;
    height: 354px;
    clip-path: ellipse(200px 600px at center);
}

.prefecture__2__img:hover { 
    clip-path: none; 
}
/* ================================ PREFECTURE FLEX_2 end ============== */
/* ==================================================================================================== */




















.asidebenefits__descript { 
    width: 150px;
}






